`timescale 1ns/1ps

module {{ memory_name }}_saboteur #(
    parameter integer ADDR_WIDTH = {{ addr_width }},
    parameter integer DATA_WIDTH = {{ data_width }}
) (
    input  logic                  {{ ports.clk }},
    input  logic                  {{ ports.csb }},
    input  logic                  {{ ports.we }},
    input  logic [ADDR_WIDTH-1:0] {{ ports.addr }},
    input  logic [DATA_WIDTH-1:0] {{ ports.din }},
    output logic [DATA_WIDTH-1:0] {{ ports.dout }}
);

    logic [DATA_WIDTH-1:0] real_dout;
    logic [DATA_WIDTH-1:0] sa0_mask [0:(1<<ADDR_WIDTH)-1];
    logic [DATA_WIDTH-1:0] sa1_mask [0:(1<<ADDR_WIDTH)-1];

    initial begin
        $readmemh("{{ sa0_faults_file }}", sa0_mask);
        $readmemh("{{ sa1_faults_file }}", sa1_mask);
    end

    {{ memory_name }} #(
        .ADDR_WIDTH(ADDR_WIDTH),
        .DATA_WIDTH(DATA_WIDTH)
    ) u_sram_real (
        .{{ ports.clk }}({{ ports.clk }}),
        .{{ ports.csb }}({{ ports.csb }}),
        .{{ ports.we }}({{ ports.we }}),
        .{{ ports.addr }}({{ ports.addr }}),
        .{{ ports.din }}({{ ports.din }}),
        .{{ ports.dout }}(real_dout)
    );

    assign {{ ports.dout }} = (real_dout & sa0_mask[{{ ports.addr }}]) | sa1_mask[{{ ports.addr }}];

endmodule